<div class="container">
  <div class="user-details">
        <h3 class="text-center"> About me </h3>
        {% for section in site.data.about_sections %}
          <div class="row about-section">
            <div class="five columns text-right">
                <h5>{{ section.headline }}</h5>
            </div>
            <div class="seven columns">
              {% if section.details %}
              <p>{{ section.details }}</p>
              {% endif %}
              {% if section.detailList %}
              <ul>
                {% for detail in section.detailList %}
                <li>{{ detail }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    <div class="row">
      <div class="twelve columns dev-icons text-center">
        <i class="devicon-ruby-plain-wordmark colored"></i>
        <i class="devicon-rails-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <i class="devicon-git-plain-wordmark colored"></i>
      </div>
    </div>
  </div>
</div>
