<div class="container">
  <div class="user-details">
    <h3 class="text-center"> Experience </h3>
    <p>As a consultant, I work with a variety of companies, from non-profits to Fortune 100 enterprises. The products I have built span from consumer-facing sites to internal business tools. I have contributed to large microservices architectures, internal libraries for other developers, systems in brick-and-mortar retail locations, and NP-complete algorithms executed across a distributed network.</p>
    <p>My consultant work also consists of teaching agile practices, specifically in the extreme programming style. I work side-by-side with clients teaching pair programming, continuous integration and continuous deployment and project estimation. A particular area of focus is in test-driven development and creating robust automated test suites including unit, integration and feature/behavioral tests.</p>
    <p>As an anchor developer on multiple projects, I have lead teams of up to 6 developers, collaborated closely with product managers and designers to ensure business and user needs are met, and been responsible for delivery according to agile software practices. </p>
  </div>
</div>
