<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  {% for project in site.data.projects %}
  {% assign mod = forloop.index | modulo: 2 %}
  {% if mod == 0 %}
      <div class="row user-projects">
        {% include project-image.html project=project %}
        {% include project-info.html project=project %}
      </div>
    {% else %}
      <div class="row user-projects">
        {% include project-info.html project=project %}
        {% include project-image.html project=project %}
      </div>
    {% endif %}
  {% endfor %}
</div>
